In [1]:
# import general package
from datetime import datetime
import logging
import sys
# import Transform
import pandas as pd
from pandas import DataFrame
# import mysql.connector
from sqlalchemy import create_engine
import pymysql
# import airflow package
# from airflow import DAG
# from airflow.operators.python import PythonOperator

In [67]:
!conda install -c conda-forge -y --prefix {sys.prefix} pandas
!conda install -c conda-forge -y --prefix {sys.prefix} sqlalchemy
!conda install -c conda-forge -y --prefix {sys.prefix} pymysql
!conda install -c conda-forge -y --prefix {sys.prefix} ipython-sql

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/homebrew/anaconda3/envs/studyETL

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    importlib-metadata-4.10.1  |   py39h6e9494a_0          33 KB  conda-forge
    ipython-sql-0.3.9          |  pyhd8ed1ab_1004          18 KB  conda-forge
    ipython_genutils-0.2.0     |             py_1          21 KB  conda-forge
    prettytable-3.0.0          |     pyhd8ed1ab_0          25 KB  conda-forge
    sqlparse-0.4.2             |     pyhd8ed1ab_0          34 KB  conda-forge
    zipp-3.7.0                 |     pyhd8ed1ab_0          12 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         142 KB

The following NEW packages will be INSTALLED:

  importlib-metadata conda-forge/osx-64::importlib-metadata-4.10.1-py39h6e9494a_0
  ipython-sql        conda-forge/noarch::ipython-sql-0.3.9-pyhd8ed1ab_1004
  ipython_genutils   conda-forge/noarch::ipython_genutils-0.2.0-py_1
  prettytable        conda-forge/noarch::prettytable-3.0.0-pyhd8ed1ab_0
  sqlparse           conda-forge/noarch::sqlparse-0.4.2-pyhd8ed1ab_0
  zipp               conda-forge/noarch::zipp-3.7.0-pyhd8ed1ab_0



Downloading and Extracting Packages
sqlparse-0.4.2       | 34 KB     | ##################################### | 100%
ipython-sql-0.3.9    | 18 KB     | ##################################### | 100%
importlib-metadata-4 | 33 KB     | ##################################### | 100%
zipp-3.7.0           | 12 KB     | ##################################### | 100%
prettytable-3.0.0    | 25 KB     | ##################################### | 100%
ipython_genutils-0.2 | 21 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: - WARNING conda.core.path_actions:verify(962): Unable to create environments file. Path not writable.
  environment location: /Users/mdgome/.conda/environments.txt

done
Executing transaction: / WARNING conda.core.envs_manager:register_env(50): Unable to register environment. Path not writable or missing.
  environment location: /opt/homebrew/anaconda3/envs/studyETL
  registry file: /Users/mdgome/.conda/environments.txt
done

In [235]:
def _get_MySQL_Connection():
    import os
    sys.path.append(os.getcwd())
    from mydb_credentials import aws_mysql_ec2_study_Driver

    # host = "ec2-15-164-164-229.ap-northeast-2.compute.amazonaws.com"
    # user = "mdgome"  # 본인 ID 사용
    # password = "Rlawjdals1!"  # 본인 Password 사용
    # port = 3306
    # dbname = "airflow"
    # charset='utf8'
    # encoding='utf-8'
    user = aws_mysql_ec2_study_Driver['user']
    password = aws_mysql_ec2_study_Driver['password']
    host = aws_mysql_ec2_study_Driver['host']
    port = aws_mysql_ec2_study_Driver['port']
    dbname = aws_mysql_ec2_study_Driver['dbname']
    charset = aws_mysql_ec2_study_Driver['charset']

    try:
        conn = pymysql.connect(
            host=host,
            port=port,
            user=user,
            password=password,
            db=dbname,
            charset=charset
        )
        logging.info('DB Connect : ',datetime.now().strftime('%Y.%m.%d.%H.%M') )
        return conn.cursor()
    except Exception as e:
        logging.error('DB Connect Error : ',datetime.now().strftime('%Y.%m.%d.%H.%M') )
        logging.error(e.message)
        sys.exit(5)
#        session.rollback()
    #connection_string

In [236]:
def DataToCSV(df):
    from pathlib import Path
    now_date = datetime.now().strftime('%Y.%m.%d.%H.%M')
    file_name = now_date+"_output.csv"
    mkdirPath = Path("./data/mysqlData")
    mkdirPath.mkdir(parents=True, exist_ok=True)
    df.to_csv(mkdirPath/file_name,index=False)

In [41]:
engineString = connect_mysql()
engineString

'mysql+pymysql://mdgome:Rlawjdals1!@ec2-15-164-164-229.ap-northeast-2.compute.amazonaws.com:3306/airflow?utf8'

In [238]:
def etl():
    df = load()
    DataToCSV(df)

In [240]:
etl()

ImportError: cannot import name 'aws_mysql_ec2_study_Driver' from 'mydb_credentials' (/Users/mdgome/WorkSpace/Study/study_ETL/studyForplaydata/StudyDataEngineering/airflow/dags/mydb_credentials.py)

In [239]:
dag_second_assingnment = DAG(
    dag_id='second_assingnment',
    catchup = False,
    start_date = datetime(2022,1,10),
    schedule_interval = '0 20 * * *'
)

NameError: name 'DAG' is not defined

In [ ]:
task = PythonOperator(
    task_id = 'MySQLTOCsv',
    python_callable = etl,
    dag = dag_second_assingnment
)