In [28]:
import sys
#!echo {sys.prefix}
#!echo {sys.executable}
#!echo {sys.path}
#!type type
#!jupyter kernelspec list

In [29]:
!conda install -c conda-forge -y --prefix {sys.prefix} pandas
!conda install -c conda-forge -y --prefix {sys.prefix} sqlalchemy
!conda install -c conda-forge -y --prefix {sys.prefix} pymysql
#!conda install -c conda-forge -y mysql-pythonin
#!conda install -c conda-forge -y airflow=2.1.4
#!conda install -c conda-froge -y --file "https://raw.githubusercontent.com/apache/airflow/constraints-2.1.4/constraints-3.7.txt"

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [45]:
#import mysql.connector
import logging
import pymysql
#from airflow import DAG
#from airflow.operators.python import PythonOperator
from datetime import datetime
import logging
import pandas as pd
from sqlalchemy import create_engine
import os
from pathlib import Path

In [46]:
host = "ec2-15-164-164-229.ap-northeast-2.compute.amazonaws.com"
user = "mdgome"  # 본인 ID 사용
password = "Rlawjdals1!"  # 본인 Password 사용
port = 3306
dbname = "airflow"
charset='utf8'
encoding='utf-8'
#conn = mysql.connector.connect("host={host},port={port}, database={dbname}, user={user},password={password}, charset={charset}")
mysql_url = "mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}?{charset}".format(user=user,password=password,host=host,port=port,dbname=dbname,charset=charset)
#pymysql.install_as_MySQLdb()
#import MySQLdb
engine = create_engine(mysql_url, encoding=encoding)
conn = engine.connect()
sql = "select name,email from member;"


now_date = datetime.now().strftime('%Y-%m-%d_%H.%M')

In [47]:
result = pd.read_sql_query(sql, engine)

In [48]:
print(result.head())

  name            email
0  김유신  kys@example.com
1  홍길동  hgd@example.com
2  장영실  jys@example.com

In [49]:
mkdirPath = Path("./data/mysqlData")
#mkdirPath

PosixPath('data/mysqlData')

In [34]:
sql = "select user,email from member;"

result = pandas.read_sql_query(sql, conn)
now_date = datetime.now().strftime('%Y.%m.%d.%H.%M')
file_name = "r'"+now_date+"output.csv'"
result.to_csv(file_name,index=False)

NameError: name 'pandas' is not defined

In [36]:
os.getcwd()

'/Users/mdgome/WorkSpace/Study/study_ETL/studyForplaydata/StudyDataEngineering/airflow/dags'

PosixPath('data/mysqlData')

In [44]:
mkdirPath.mkdir(parents=True, exist_ok=True)